<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta id="myViewport" name="viewport" content="initial-scale=1, width=1580" />
    <script>
    window.onload = function () {
      var mvp = document.getElementById('myViewport');
      mvp.setAttribute('content','width=760');
    }
      </script>
    <link rel="icon" href="{{ url_for('static', filename='public/logo.png') }}" type="image/png">
    <title>Zenith - Efficiency Done Right</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,600;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="ellipse-3sun-1-parent">
      <img class="ellipse-3sun-1" alt="" src="{{ url_for('static', filename='public/ellipse-3sun-1@2x.png') }}" />

      <img class="ellipse-3sun-2" alt="" src="{{ url_for('static', filename='public/ellipse-3sun-1@2x.png') }}" />

      <img class="ellipse-3sun-3" alt="" src="{{ url_for('static', filename='public/ellipse-3sun-1@2x.png') }}" />

      <div class="nexus-wrapper">
        <i class="nexus">zenith.</i>
      </div>
      <nav class="about-parent">
        <a href='#scrtbt' class="about">About</a>
        <a href='#scrtsrvcs' class="about">Services</a>
        <a href='#scrtcntcts' class="about">Contact</a>
      </nav>
      <img class="zhax7xzi-1-icon" alt="" src="{{ url_for('static', filename='public/zhax7xzi-1@2x.png') }}" />

      <img class="zoey1squ-1-icon" alt="" src="{{ url_for('static', filename='public/zoey1squ-1@2x.png') }}" />

      <div class="digital-product-brand-agency-parent">
        <h1 class="digital-product-container">
          <p class="digital-product">Digital product &</p>
          <p class="digital-product">brand agency</p>
        </h1>
        <div class="elevate-accelerate-and-container">
          <b>Elevate</b>
          <span>, </span>
          <b>Accelerate</b>
          <span> and </span>
          <b>Scale</b>
          <span>
            your business with the latest advancements in software
            technology.</span
          >
        </div>
        <div class="frame-parent">
          <button class="learn-more-wrapper">
            <div class="learn-more"><a href='#scrtbt'>Learn more</a></div>
          </button>
          <button class="contact-us-wrapper">
            <div class="contact-us"><a href='#scrtcntcts'>Contact us</a></div>
          </button>
        </div>
      </div>
      <section class="zoey1squ-1-parent">
        <img
          class="zoey1squ-1-icon1"
          alt=""
          src="{{ url_for('static', filename='public/zoey1squ-11@2x.png') }}"
        />

        <div class="modernize-optimize-your-busi-parent">
          <h1 class="modernize-optimize-container">
            <p class="digital-product">Modernize & optimize</p>
            <p class="digital-product">your business</p>
          </h1>
          <div class="we-develop-products-container">
            <p class="digital-product">
              <span class="we-develop-products"
                >We develop products for businesses who want to not only
              </span>
              <b class="satisfy-customers">satisfy customers</b>
              <span class="but-to">, but to </span>
              <b class="satisfy-customers">surpass expectations</b>
              <span class="but-to">. With our team of </span>
              <b class="satisfy-customers">innovative</b>
              <span class="but-to"> and </span>
              <b class="satisfy-customers">skilled</b>
              <span class="but-to"> developers and marketers, you can </span>
              <b class="satisfy-customers"
                >turn your business into a standard setter</b
              >
              <span class="we-develop-products">.</span>
            </p>
            <p class="blank-line">&nbsp;</p>
            <p class="digital-product">
              <span class="we-develop-products"
                >We use tools and techniques used by some of the
              </span>
              <b class="satisfy-customers">world’s largest</b>
              <span class="but-to"> and </span>
              <b class="satisfy-customers">most successful companies</b>
              <span class="but-to">.</span>
            </p>
          </div>
          <div class="enterprise-resource-planning-s-parent">
            <b class="enterprise-resource-planning"
              >Enterprise resource planning software</b
            >
            <b class="enterprise-resource-planning"
              >Website and app UI/UX development</b
            >
            <b class="enterprise-resource-planning"
              >Social media presence and marketing</b
            >
          </div>
        </div>
      </section>
      <div id='scrtbt' class="frame-child"></div>
      <div class="frame-item"></div>
      <div class="frame-inner"></div>
      <div id='scrtsrvcs' class="rectangle-div"></div>
      <div class="frame-child1"></div>
      <div class="frame-child2"></div>
      <div class="frame-child3"></div>
      <div id='scrtcntcts' class="frame-child4"></div>
      <div class="frame-child5"></div>
      <section class="frame-group">
        <div class="modernize-optimize-your-busi-parent">
          <h1 id='scrtsrcs' class="modernize-optimize-container">Growth = Automation</h1>
          <div class="we-develop-products-container">
            <p class="digital-product">
              <span class="but-to">At Zenith, we understand that </span>
              <b
                >using automation software is key to growing any kind of
                business</b
              >
              <span class="but-to">. And our purpose is simple - to </span>
              <b class="satisfy-customers"
                >help your business thrive in the digital age</b
              >
              <span class="but-to">. </span>
            </p>
            <p class="blank-line">&nbsp;</p>
            <p class="digital-product">
              <span class="but-to">From </span>
              <b>website and software development</b>
              <span class="but-to">, to </span>
              <b class="satisfy-customers">social media marketing</b>
              <span class="but-to">, we have you covered.</span>
            </p>
          </div>
          <div class="enterprise-resource-planning-s-parent">
            <b class="enterprise-resource-planning"
              >SAAS platform development</b
            >
            <b class="enterprise-resource-planning"
              >Marketing and portfolio websites</b
            >
            <b class="enterprise-resource-planning"
              >Optimize operation efficiency</b
            >
          </div>
        </div>
        <img class="zoey1squ-1-icon1" alt="" src="{{ url_for('static', filename='public/zhax7xzi-1@2x.png') }}" />
      </section>
      <img class="xbo4qlut-1-icon" alt="" src="{{ url_for('static', filename='public/xbo4qlut-1@2x.png') }}" />

      <div class="become-a-client-parent">
        <h1 class="become-a-client">Become a client</h1>
        <div class="ready-to-take-container">
          <p class="digital-product">
            <span class="we-develop-products"
              >Ready to take your business to the
            </span>
            <b class="satisfy-customers">next level</b>
            <span class="but-to">?</span>
          </p>
          <p class="digital-product">
            <b>Contact us</b>
            <span class="but-to"> below.</span>
          </p>
        </div>
      </div>
      <section class="gf7osh-1"></section>
      <img
        class="frame-20phone-1"
        alt=""
        src="{{ url_for('static', filename='public/frame-20phone-1@2x.png') }}"
      />

      <div class="minimize-cost-maximize-profit-wrapper">
        <h1 class="minimize-cost-maximize-container">
          <p class="digital-product">Minimize cost,</p>
          <p class="digital-product">Maximize profit</p>
        </h1>
      </div>
      <div class="frame-wrapper">
        <div class="frame-container">
        <form>
          <input
            class="frame-input"
            name="First name"
            placeholder="First name"
            type="text"
          />

          <input
            class="frame-input"
            name="Last name"
            placeholder="Last name"
            type="text"
          />

          <input
            class="frame-input"
            name="Job title"
            placeholder="Job title"
            type="text"
          />

          <input
            class="frame-input"
            name="Company email"
            placeholder="Company email"
            type="text"
          />

          <button class="submit-wrapper">
            <div class="submit">Submit</div>
          </button>
        </div>
        </form>
      </div>
      <div class="frame-div">
        <div class="companyemailcom-251-9090909-parent">
          <div class="companyemailcom-251-9090909-container">
            <p class="digital-product">company@email.com</p>
            <p class="digital-product">&nbsp;</p>
            <p class="digital-product">+251 909090909</p>
            <p class="digital-product">&nbsp;</p>
            <p class="digital-product">Addis Ababa, Ethiopia</p>
          </div>
          <i class="why-compete-when">Why compete when you can excel?</i>
        </div>
      </div>
    </div>
  </body>
</html>
